@{
  Layout = "_Layout";
}

//FORM 2 INPUTS SUBMIT AND CLEAR BUTTON


<form action="/project/results" method="post">
  <label for="inputOne">Enter a word.</label>
  <input name="inputOne" class="form-control" id="inputOne">

  <label for="inputTwo">Enter a sentence.</label>
  <input name="inputTwo" class="form-control" id="inputTwo">

  <button type="submit" class="btn btn-success">Go</button>
  <button type="reset" class="btn btn-danger">Reset</button>
</form>
