@{
  Layout = "_Layout";
}

<h2>@Model.METHODGoesHere()</h2>


<p>Your sentence is: @Model.MethodGoesHere()</p>
<p>Your word is: @Model.MethodGoesHere()</p>

<a href="/"><button type="" class="btn btn-info">Home</button></a>
